In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\dt044477\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: scipy>=1.0 in c:\users\dt044477\anaconda3\lib\site-packages (from seaborn) (1.5.2)
Requirement already satisfied: numpy>=1.15 in c:\users\dt044477\anaconda3\lib\site-packages (from seaborn) (1.19.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\dt044477\anaconda3\lib\site-packages (from seaborn) (3.3.2)
Requirement already satisfied: pandas>=0.23 in c:\users\dt044477\anaconda3\lib\site-packages (from seaborn) (1.1.3)
Requirement already satisfied: cycler>=0.10 in c:\users\dt044477\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dt044477\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dt044477\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dt044477\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dt044477\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\dt044477\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in c:\users\dt044477\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six in c:\users\dt044477\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)

# Ayiti Analytics Data Processing Bootcamp
  Ayiti Analytics Data wants to expand its training centers throughout all the communes of the country. Your role as a data analyst is to help them realize this dream.

Its objective is to know which three communes of the country will be the most likely to expand its training centers.

Knowing that each cohort must have 30 students
 
* How many applications must be made to select 25% women for each on average

* What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a student to be susceptible to selection
 
* What is the average number of university students who should participate in this program
* What will be the average number of applications per week that we could have
* How many weeks should we extend the application process to select 60 students per commune?
* If we were to do all the bootcamp online, who would be the best communes and how many applications would we need to select 30 student and what percentage of students would have a laptop, an internet connection, both at the same time
* What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a women to be susceptible to selection

### NB 
Use the same framework of the BA project to complete this project

In [27]:
commune =pd.read_excel(r"commune.xlsx")
enroll= pd.read_csv(r"enroll.csv")
industry =pd.read_csv(r"industry.csv")
ord =pd.read_csv(r"ord.csv")
quest =pd.read_csv(r"quest.csv")
study_domain = pd.read_csv(r"study_domain.csv")
technology = pd.read_csv(r"technology.csv")
transaction =pd.read_csv(r"transaction.csv")

In [34]:
commune.head()

      Commune_en     Commune_FR Commune_Id  Departement ADM1_PCODE
0       Abricots       Abricots     HT0812  Grande'Anse       HT08
1   Acul du Nord   Acul du Nord     HT0321        North       HT03
2  Anse-a-Foleur  Anse-à-Foleur     HT0922   North-West       HT09
3   Anse-a-Pitre   Anse-à-Pître     HT0234   South-East       HT02
4    Anse-a-Veau    Anse-à-Veau     HT1021       Nippes       HT10

In [33]:
enroll.head()

,Unnamed: 0,created_at,expiry_date,user_id,course_name,course_id,percentage_completed,completed_at,expired,is_free_trial,completed,started_at,activated_at,updated_at,quest_id
0,0,2020-12-12T06:41:29.844Z,NaN,29816173,Entwodiksyon Nan Syans Done,1047613,0.0,NaN,False,True,False,NaN,NaN,2020-12-12T06:41:29.844Z,NaN
1,1,2020-12-13T14:41:17.720Z,NaN,35229766,Entwodiksyon Nan Syans Done,1047613,0.0,NaN,False,True,False,NaN,NaN,2020-12-13T14:41:17.720Z,NaN
2,2,2020-12-15T00:53:06.499Z,NaN,31987560,Entwodiksyon Nan Syans Done,1047613,0.0,NaN,False,True,False,NaN,NaN,2020-12-15T00:53:06.499Z,NaN
3,3,2020-12-18T18:38:55.683Z,NaN,35616451,Entwodiksyon Nan Syans Done,1047613,0.0,NaN,False,True,False,NaN,NaN,2020-12-18T18:38:55.683Z,NaN
4,4,2020-12-21T14:45:06.528Z,NaN,35390649,Entwodiksyon Nan Syans Done,1047613,0.0,NaN,False,True,False,NaN,NaN,2020-12-21T14:45:06.528Z,NaN

In [32]:
industry.head()

,Unnamed: 0,key,values,quest_id
0,0,item1,Finance,905ddcf2-ce95-11eb-9a92-7c67a234f601
1,1,item6,Technology (Software/ Internet),905e2608-ce95-11eb-809f-7c67a234f601
2,2,item5,Education,905e2608-ce95-11eb-809f-7c67a234f601
3,3,item3,Consulting,905e2608-ce95-11eb-809f-7c67a234f601
4,4,item7,Energy,905e2608-ce95-11eb-809f-7c67a234f601

In [29]:
ord.head()

,Unnamed: 0,created_at,user_id,product_name,product_id,amount_dollars,amount_cents,subscription,coupon_code,coupon_id,affiliate_referral_code,status,quest_id
0,0,2021-03-14T15:34:35.014Z,41587952,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906b3c86-ce95-11eb-b6a7-7c67a234f601
1,1,2021-03-14T04:20:23.483Z,41564742,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906636cf-ce95-11eb-8679-7c67a234f601
2,2,2021-03-12T19:29:22.832Z,41501853,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906968f5-ce95-11eb-9e1a-7c67a234f601
3,3,2021-03-12T14:23:11.154Z,40284930,Entwodiksyon Nan Syans Done,1100636,0,0,False,impact_hub_coupon,6658457.0,NaN,Complete,9060477c-ce95-11eb-ace3-7c67a234f601
4,4,2021-03-11T16:01:17.901Z,40281483,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,9064ff29-ce95-11eb-a3d3-7c67a234f601

In [31]:
quest.head()

,Unnamed: 0,gender,dob,commune,created_at,modified_at,department,education_level,university,study_domain,current_employed,formal_sector_job,have_computer_home,internet_at_home,hear_AA_1,after_AA,quest_id
0,0,male,25/08/1998,ht0111,2021-02-14T23:03:52.768400Z,2021-02-14T23:03:52.768462Z,NaN,unknown,unknown,[],unknown,unknown,unknown,unknown,unknown,unknown,905dc006-ce95-11eb-b2f9-7c67a234f601
1,1,female,29/09/1996,ht0111,2021-02-16T16:01:10.861844Z,2021-02-16T16:01:10.861899Z,ht01,Bachelors (bacc +4),other,['other'],No,unknown,Yes,Yes,Friend,Finding a job/internship,905ddcf2-ce95-11eb-9a92-7c67a234f601
2,2,male,17/05/1996,ht0111,2021-02-16T16:56:30.579504Z,2021-02-16T16:56:30.579563Z,ht01,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),[],No,unknown,Yes,Yes,Friend,Improving my data analysis skills,905e2608-ce95-11eb-809f-7c67a234f601
3,3,male,24/11/1996,ht0111,2021-02-16T16:57:55.754541Z,2021-02-16T16:57:55.754582Z,ht01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601
4,4,male,20/07/1997,ht0111,2021-02-16T17:05:40.907948Z,2021-02-16T17:05:40.907982Z,ht01,High School (16 years),unknown,['other'],No,unknown,Yes,Yes,WhatsApp,Mentorship,905e73fd-ce95-11eb-a7b0-7c67a234f601

In [35]:
study_domain.head()

   Unnamed: 0    key            values                              quest_id
0           0  other             other  905ddcf2-ce95-11eb-9a92-7c67a234f601
1           1  item1  Computer Science  905e4cf5-ce95-11eb-96a9-7c67a234f601
2           2  item6        Management  905e4cf5-ce95-11eb-96a9-7c67a234f601
3           3  other             other  905e73fd-ce95-11eb-a7b0-7c67a234f601
4           4  other             other  905e9b27-ce95-11eb-9c37-7c67a234f601

In [36]:
technology.head()

   Unnamed: 0     key      values                              quest_id
0           0   item1           R  905ddcf2-ce95-11eb-9a92-7c67a234f601
1           1  item11       Excel  905ddcf2-ce95-11eb-9a92-7c67a234f601
2           2   item2      Python  905e2608-ce95-11eb-809f-7c67a234f601
3           3   item3        Java  905e2608-ce95-11eb-809f-7c67a234f601
4           4   item4  JavaScript  905e2608-ce95-11eb-809f-7c67a234f601

In [37]:
transaction.head()

,Unnamed: 0,created_at,modified_at,user_id,course_id,transaction_id
0,0,2021-03-08T05:08:50.832Z,2021-03-08T05:08:50.832Z,40976440,1047613,4641281952
1,1,2021-03-08T17:26:35.841Z,2021-03-08T17:26:35.841Z,41179271,1047613,4644270160
2,2,2021-03-08T18:52:09.147Z,2021-03-08T18:52:09.147Z,40973512,1047613,4645070622
3,3,2021-03-08T19:06:32.837Z,2021-03-08T19:06:32.837Z,41177453,1047613,4645208830
4,4,2021-03-08T22:10:00.796Z,2021-03-08T22:10:00.796Z,40797121,1047613,4646815401

In [45]:
questEnroll = pd.merge(quest,enroll,right_on= "quest_id",left_on= "quest_id")

In [47]:
questEnroll

,Unnamed: 0_x,gender,dob,commune,created_at_x,modified_at,department,education_level,university,study_domain,...,course_name,course_id,percentage_completed,completed_at,expired,is_free_trial,completed,started_at,activated_at,updated_at
0,0,male,25/08/1998,ht0111,2021-02-14T23:03:52.768400Z,2021-02-14T23:03:52.768462Z,NaN,unknown,unknown,[],...,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,2021-02-17T08:43:53.457Z,NaN,2021-02-17T08:44:09.561Z
1,2,male,17/05/1996,ht0111,2021-02-16T16:56:30.579504Z,2021-02-16T16:56:30.579563Z,ht01,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),[],...,Entwodiksyon Nan Syans Done,1047613,0.325581,NaN,False,False,False,2021-02-20T21:20:37.814Z,2021-03-03T23:00:11.000Z,2021-03-09T13:57:49.729Z
2,6,female,30/04/1988,ht0111,2021-02-16T20:06:17.885833Z,2021-02-16T20:06:17.885862Z,ht01,Masters,Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,Entwodiksyon Nan Syans Done,1047613,0.452381,NaN,False,False,False,2021-02-16T20:16:36.279Z,2021-02-22T19:16:40.434Z,2021-03-03T21:50:17.810Z
3,7,female,10/09/1996,ht0111,2021-02-16T22:54:19.490806Z,2021-02-16T22:54:19.490841Z,ht01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,Entwodiksyon Nan Syans Done,1047613,0.488372,NaN,False,False,False,2021-02-24T16:55:14.134Z,2021-02-24T16:53:16.000Z,2021-03-10T10:24:48.284Z
4,11,female,30/12/1994,ht0111,2021-02-17T04:35:17.193779Z,2021-02-17T04:35:17.193835Z,ht01,Other,unknown,['item1'],...,Entwodiksyon Nan Syans Done,1047613,0.023810,NaN,False,True,False,2021-02-19T02:33:12.624Z,NaN,2021-03-03T21:50:19.877Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,238,male,09/08/1991,ht0311,2021-03-03T00:04:49.909094Z,2021-03-03T00:04:49.909160Z,ht03,Other,unknown,['item7'],...,Entwodiksyon Nan Syans Done,1047613,0.023810,NaN,False,True,False,2021-03-03T00:12:32.686Z,NaN,2021-03-03T21:50:29.543Z
98,245,male,15/02/1994,ht0621,2021-03-02T18:39:19.873194Z,2021-03-02T18:39:19.873237Z,ht06,Bachelors (bacc +4),other,['other'],...,Entwodiksyon Nan Syans Done,1047613,0.883721,NaN,False,False,False,2021-03-02T18:45:27.034Z,2021-03-02T18:53:20.000Z,2021-03-13T05:43:58.022Z
99,247,male,28/12/1993,ht0621,2021-03-14T15:29:32.474015Z,2021-03-14T15:29:32.474055Z,ht06,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],...,Entwodiksyon Nan Syans Done,1047613,0.325581,NaN,False,False,False,2021-03-14T15:34:56.007Z,2021-03-14T15:34:39.768Z,2021-03-14T17:30:53.379Z
100,248,male,17/04/1992,ht0412,2021-03-08T16:35:07.806100Z,2021-03-08T16:35:07.806161Z,ht04,Bachelors (bacc +4),other,['item1'],...,Entwodiksyon Nan Syans Done,1047613,0.418605,NaN,False,False,False,2021-03-08T19:10:36.694Z,2021-03-08T19:06:32.000Z,2021-03-14T16:28:07.992Z
101,249,male,22/07/1993,ht1012,2021-03-10T21:41:05.708748Z,2021-03-10T21:41:05.708787Z,ht10,Masters,other,['other'],...,Entwodiksyon Nan Syans Done,1047613,0.279070,NaN,False,False,False,2021-03-14T02:18:52.472Z,2021-03-14T02:16:08.000Z,2021-03-14T03:32:18.768Z

In [48]:
industry.shape

(807, 4)

In [49]:
industry = pd.get_dummies(data=industry[['key' ,'quest_id','values']], columns=["values"], prefix='',prefix_sep='')

In [50]:
industry.quest_id.nunique()

246

In [51]:
industry=industry.groupby('quest_id').sum()

In [52]:
industry

,Communications,Consulting,Education,Energy,Finance,Healthcare,Insurance,Manufacturing,Marketing,Public Sector/ Non-Profit Agencies,Retail/ E-Commerce,Technology (Software/ Internet),Transportation,other
quest_id,,,,,,,,,,,,,,
905ddcf2-ce95-11eb-9a92-7c67a234f601,0,0,0,0,1,0,0,0,0,0,0,0,0,0
905e2608-ce95-11eb-809f-7c67a234f601,0,1,1,1,0,0,0,0,1,0,0,1,0,0
905e4cf5-ce95-11eb-96a9-7c67a234f601,0,1,1,0,0,0,0,0,1,0,1,1,0,0
905e73fd-ce95-11eb-a7b0-7c67a234f601,0,0,0,0,1,0,0,0,0,0,0,1,0,0
905e9b27-ce95-11eb-9c37-7c67a234f601,1,0,1,0,0,0,0,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906b3c84-ce95-11eb-8c2a-7c67a234f601,1,0,1,0,0,0,0,0,1,1,1,0,0,0
906b3c85-ce95-11eb-9b87-7c67a234f601,1,0,1,0,0,1,0,0,0,0,1,1,0,0
906b3c86-ce95-11eb-b6a7-7c67a234f601,0,1,0,0,0,1,0,0,0,1,0,1,0,0
906b65e2-ce95-11eb-8b5c-7c67a234f601,0,0,0,0,0,0,0,0,0,0,0,1,0,0
906b65e3-ce95-11eb-a294-7c67a234f601,0,1,1,0,0,0,0,0,0,1,0,0,0,0

In [54]:

study_domain.shape

(287, 4)

In [55]:
study_domain =pd.get_dummies(data=study_domain[['key','quest_id','values']],columns=['values'], prefix='',prefix_sep='')

In [56]:
study_domain.quest_id.nunique()

244

In [62]:
study_domain=study_domain.groupby('quest_id').sum()

In [63]:
study_domain

,Communications,Consulting,Education,Energy,Finance,Healthcare,Insurance,Manufacturing,Marketing,Public Sector/ Non-Profit Agencies,Retail/ E-Commerce,Technology (Software/ Internet),Transportation,other
quest_id,,,,,,,,,,,,,,
905ddcf2-ce95-11eb-9a92-7c67a234f601,0,0,0,0,1,0,0,0,0,0,0,0,0,0
905e2608-ce95-11eb-809f-7c67a234f601,0,1,1,1,0,0,0,0,1,0,0,1,0,0
905e4cf5-ce95-11eb-96a9-7c67a234f601,0,1,1,0,0,0,0,0,1,0,1,1,0,0
905e73fd-ce95-11eb-a7b0-7c67a234f601,0,0,0,0,1,0,0,0,0,0,0,1,0,0
905e9b27-ce95-11eb-9c37-7c67a234f601,1,0,1,0,0,0,0,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906b3c84-ce95-11eb-8c2a-7c67a234f601,1,0,1,0,0,0,0,0,1,1,1,0,0,0
906b3c85-ce95-11eb-9b87-7c67a234f601,1,0,1,0,0,1,0,0,0,0,1,1,0,0
906b3c86-ce95-11eb-b6a7-7c67a234f601,0,1,0,0,0,1,0,0,0,1,0,1,0,0
906b65e2-ce95-11eb-8b5c-7c67a234f601,0,0,0,0,0,0,0,0,0,0,0,1,0,0
906b65e3-ce95-11eb-a294-7c67a234f601,0,1,1,0,0,0,0,0,0,1,0,0,0,0

In [59]:
technology.shape

(678, 4)

In [60]:
technology= pd.get_dummies(data=technology[['key','quest_id','values']],columns=['values'],prefix='',prefix_sep='')

In [61]:
technology.quest_id.nunique()

244

In [65]:
technology=technology.groupby('quest_id').sum()

In [66]:
technology

,Bash,Excel,Git,Java,JavaScript,PHP,PowerBI or Tableau,Python,R,SQL,VBA,other
quest_id,,,,,,,,,,,,
905ddcf2-ce95-11eb-9a92-7c67a234f601,0,1,0,0,0,0,0,0,1,0,0,0
905e2608-ce95-11eb-809f-7c67a234f601,1,1,1,1,1,0,0,1,0,1,0,0
905e4cf5-ce95-11eb-96a9-7c67a234f601,0,1,0,1,1,1,0,1,0,0,0,0
905e73fd-ce95-11eb-a7b0-7c67a234f601,1,0,0,0,0,1,0,0,0,0,0,0
905e9b27-ce95-11eb-9c37-7c67a234f601,0,1,0,1,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
906b3c84-ce95-11eb-8c2a-7c67a234f601,0,1,0,0,0,0,0,0,0,0,0,0
906b3c85-ce95-11eb-9b87-7c67a234f601,1,1,1,0,1,0,1,0,0,0,0,0
906b3c86-ce95-11eb-b6a7-7c67a234f601,0,1,0,0,0,0,1,1,0,1,0,0
906b65e2-ce95-11eb-8b5c-7c67a234f601,0,0,0,0,0,0,0,0,0,1,0,0
906b65e3-ce95-11eb-a294-7c67a234f601,0,1,0,0,0,0,0,0,1,0,0,0

In [67]:
questindustry = pd.merge(questEnroll,industry,right_on= "quest_id", left_on="quest_id")

In [76]:
questindustry

,Unnamed: 0_x,gender,dob,commune,created_at_x,modified_at,department,education_level,university,study_domain,...,Finance,Healthcare,Insurance,Manufacturing,Marketing,Public Sector/ Non-Profit Agencies,Retail/ E-Commerce,Technology (Software/ Internet),Transportation,other
0,2,male,17/05/1996,ht0111,2021-02-16T16:56:30.579504Z,2021-02-16T16:56:30.579563Z,ht01,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),[],...,0,0,0,0,1,0,0,1,0,0
1,6,female,30/04/1988,ht0111,2021-02-16T20:06:17.885833Z,2021-02-16T20:06:17.885862Z,ht01,Masters,Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,0,0,0,0,0,1,0,1,0,0
2,7,female,10/09/1996,ht0111,2021-02-16T22:54:19.490806Z,2021-02-16T22:54:19.490841Z,ht01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,0,0,0,0,0,0,0,1,0,0
3,11,female,30/12/1994,ht0111,2021-02-17T04:35:17.193779Z,2021-02-17T04:35:17.193835Z,ht01,Other,unknown,['item1'],...,0,0,0,0,0,0,0,1,0,0
4,13,female,3 aout 1977,ht0111,2021-02-17T12:13:45.466757Z,2021-02-17T12:13:45.466785Z,ht01,unknown,unknown,"['item6', 'other']",...,0,0,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,238,male,09/08/1991,ht0311,2021-03-03T00:04:49.909094Z,2021-03-03T00:04:49.909160Z,ht03,Other,unknown,['item7'],...,0,0,0,0,0,0,0,1,0,0
97,245,male,15/02/1994,ht0621,2021-03-02T18:39:19.873194Z,2021-03-02T18:39:19.873237Z,ht06,Bachelors (bacc +4),other,['other'],...,0,0,0,0,1,1,1,0,0,0
98,247,male,28/12/1993,ht0621,2021-03-14T15:29:32.474015Z,2021-03-14T15:29:32.474055Z,ht06,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],...,0,1,0,0,0,1,0,1,0,0
99,248,male,17/04/1992,ht0412,2021-03-08T16:35:07.806100Z,2021-03-08T16:35:07.806161Z,ht04,Bachelors (bacc +4),other,['item1'],...,0,0,0,0,0,0,0,1,0,0
100,249,male,22/07/1993,ht1012,2021-03-10T21:41:05.708748Z,2021-03-10T21:41:05.708787Z,ht10,Masters,other,['other'],...,0,0,0,0,0,1,0,0,0,0

In [69]:
queststudy_domain= pd.merge(questindustry,study_domain,right_on="quest_id" , left_on= "quest_id")

In [74]:
queststudy_domain

,Unnamed: 0_x,gender,dob,commune,created_at_x,modified_at,department,education_level,university,study_domain,...,Finance_y,Healthcare_y,Insurance_y,Manufacturing_y,Marketing_y,Public Sector/ Non-Profit Agencies_y,Retail/ E-Commerce_y,Technology (Software/ Internet)_y,Transportation_y,other_y
0,2,male,17/05/1996,ht0111,2021-02-16T16:56:30.579504Z,2021-02-16T16:56:30.579563Z,ht01,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),[],...,0,0,0,0,1,0,0,1,0,0
1,6,female,30/04/1988,ht0111,2021-02-16T20:06:17.885833Z,2021-02-16T20:06:17.885862Z,ht01,Masters,Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,0,0,0,0,0,1,0,1,0,0
2,7,female,10/09/1996,ht0111,2021-02-16T22:54:19.490806Z,2021-02-16T22:54:19.490841Z,ht01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,0,0,0,0,0,0,0,1,0,0
3,11,female,30/12/1994,ht0111,2021-02-17T04:35:17.193779Z,2021-02-17T04:35:17.193835Z,ht01,Other,unknown,['item1'],...,0,0,0,0,0,0,0,1,0,0
4,13,female,3 aout 1977,ht0111,2021-02-17T12:13:45.466757Z,2021-02-17T12:13:45.466785Z,ht01,unknown,unknown,"['item6', 'other']",...,0,0,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,238,male,09/08/1991,ht0311,2021-03-03T00:04:49.909094Z,2021-03-03T00:04:49.909160Z,ht03,Other,unknown,['item7'],...,0,0,0,0,0,0,0,1,0,0
97,245,male,15/02/1994,ht0621,2021-03-02T18:39:19.873194Z,2021-03-02T18:39:19.873237Z,ht06,Bachelors (bacc +4),other,['other'],...,0,0,0,0,1,1,1,0,0,0
98,247,male,28/12/1993,ht0621,2021-03-14T15:29:32.474015Z,2021-03-14T15:29:32.474055Z,ht06,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],...,0,1,0,0,0,1,0,1,0,0
99,248,male,17/04/1992,ht0412,2021-03-08T16:35:07.806100Z,2021-03-08T16:35:07.806161Z,ht04,Bachelors (bacc +4),other,['item1'],...,0,0,0,0,0,0,0,1,0,0
100,249,male,22/07/1993,ht1012,2021-03-10T21:41:05.708748Z,2021-03-10T21:41:05.708787Z,ht10,Masters,other,['other'],...,0,0,0,0,0,1,0,0,0,0

In [77]:
questtechnology = pd.merge (queststudy_domain,technology,right_on="quest_id",left_on="quest_id")

In [78]:
questtechnology

,Unnamed: 0_x,gender,dob,commune,created_at_x,modified_at,department,education_level,university,study_domain,...,Git,Java,JavaScript,PHP,PowerBI or Tableau,Python,R,SQL,VBA,other
0,2,male,17/05/1996,ht0111,2021-02-16T16:56:30.579504Z,2021-02-16T16:56:30.579563Z,ht01,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),[],...,1,1,1,0,0,1,0,1,0,0
1,6,female,30/04/1988,ht0111,2021-02-16T20:06:17.885833Z,2021-02-16T20:06:17.885862Z,ht01,Masters,Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,0,1,0,1,0,1,1,1,0,0
2,7,female,10/09/1996,ht0111,2021-02-16T22:54:19.490806Z,2021-02-16T22:54:19.490841Z,ht01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),['item1'],...,0,1,1,1,0,0,0,0,0,0
3,11,female,30/12/1994,ht0111,2021-02-17T04:35:17.193779Z,2021-02-17T04:35:17.193835Z,ht01,Other,unknown,['item1'],...,0,0,0,1,0,0,0,1,0,0
4,13,female,3 aout 1977,ht0111,2021-02-17T12:13:45.466757Z,2021-02-17T12:13:45.466785Z,ht01,unknown,unknown,"['item6', 'other']",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,237,male,19/04/1987,ht0311,2021-02-21T16:06:15.024499Z,2021-02-21T16:06:15.024556Z,ht03,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item1'],...,0,1,0,1,0,0,0,1,0,0
94,245,male,15/02/1994,ht0621,2021-03-02T18:39:19.873194Z,2021-03-02T18:39:19.873237Z,ht06,Bachelors (bacc +4),other,['other'],...,0,0,0,0,0,0,0,0,0,0
95,247,male,28/12/1993,ht0621,2021-03-14T15:29:32.474015Z,2021-03-14T15:29:32.474055Z,ht06,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],...,0,0,0,0,1,1,0,1,0,0
96,248,male,17/04/1992,ht0412,2021-03-08T16:35:07.806100Z,2021-03-08T16:35:07.806161Z,ht04,Bachelors (bacc +4),other,['item1'],...,0,0,0,0,0,0,0,1,0,0
97,249,male,22/07/1993,ht1012,2021-03-10T21:41:05.708748Z,2021-03-10T21:41:05.708787Z,ht10,Masters,other,['other'],...,0,0,0,0,0,0,1,0,0,0